:root {
  --navbar-width: 280px;
  --navbar-height: 55px;

  --mobile-navbar-height: 3em;

  --article-width: 1100px;
  --site-width: 1300px;
  --100-percent-padding: 0em;

  --padding-top: 6.5em;
  @media (max-width: 768px) {
    --padding-top: 4.5em;
  }

  --footer-height: 6em;


  @media (max-width: 768px) {
      --navbar-width: 0;
      --footer-height: 3.5em;
  }
}

html {
  overflow-x: hidden;

  --navbar: #000;
  --background-color: #141414;
  --background-alpha: rgba(20, 20, 20, 0.95);
  --nav-opacity: rgba(20, 20, 20, 0.75);

  --bg: #1c1c1c;

  color: #fff;
  --text: #fff;
  --text-reverse: #000;

  --link: #aaa;
  --link-color: #f1a874;

  --input: #2d2d2d;

  --background-brighness: 0.5;
  --banner-brightness: 0.5;
  
  --site-color: #724f9f;

  --success: #198754;
  --danger: #dc3545;
  --primary: #0d6efd;
  --warning: #ffc107;
  --white: #fff;

  --dark-gray: #1f1f1f;
  --gray: #6c757d;
  --red: #dc3545;
  --darkred: #8c1932;
  --yellow: #F9CE00;
  --blue: #0d6efd;
  --darkblue: #1e3264;
  --skyblue: #5179a1;
  --pink: #d63384;
  --green: #198754;
  --purple: #8d67ab;
  --orange: #fd7e14;
  --brown: #7d4b32;
  --darkpurple: #503750;
  --nav-shadow1: 0 0 0 1px #30363d, 0 16px 32px rgba(1,4,9,0.85);
  --nav-shadow2: 0 0 0 1px #30363d, 0 16px 32px rgba(1,4,9,0.85);
}

html[data-theme='light'] {
  overflow-x: hidden;

  --navbar: #f8f8f8;
  --background-color: #fff;
  --background-alpha: rgba(255, 255, 255, 0.95);
  --nav-opacity: rgba(240, 240, 240, 0.85);

  --bg: #f8f8f8;

  color: #000;
  --text: #000;
  --text-reverse: #fff;

  --link: #757575;
  --link-color: #f1a874;

  --input: #efefef;

  --background-brighness: 0.8;
  --banner-brightness: 0.5;
  
  
  --site-color: #724f9f;
  --success: #198754;
  --danger: #dc3545;
  --primary: #0d6efd;
  --warning: #ffc107;
  --white: #fff;

  --dark-gray: #5c5c5c;
  --gray: #6c757d;
  --red: #dc3545;
  --darkred: #8c1932;
  --yellow: #F9CE00;
  --blue: #0d6efd;
  --darkblue: #1e3264;
  --skyblue: #5179a1;
  --pink: #d63384;
  --green: #198754;
  --purple: #8d67ab;
  --orange: #fd7e14;
  --brown: #7d4b32;
  --darkpurple: #503750;
  --nav-shadow1: 0 0 0 1px #f4f5f7, 0 16px 32px rgba(255,251,249,0.65);
  --nav-shadow2: 0 0 0 1px #f4f5f7, 0 16px 32px rgba(255,251,249,0.65);
}

svg {
  fill: var(--text);
}

a {
  color: var(--link-color);
}

button, textarea, input {
  font-family: inherit;
}

/* html[data-lang='ko'] button,
html[data-lang='ko'] textarea,
html[data-lang='ko'] input {
  font-family: 'Pretendard-Regular', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html[data-lang='ja'] button,
html[data-lang='ja'] textarea,
html[data-lang='ja'] input {
  font-family: 'Noto Sans JP', 'Pretendard-Regular', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
} */

blockquote {
  color: var(--link);
  margin: 0;

  padding-left: 1em;
  border-left: 5px solid var(--dark-gray);


  box-sizing: border-box;

  padding: 0.3em 0.5em;
}

blockquote>p {
  margin: 0;
}


body {
  margin: 0;

  height: auto;

  @supports (-webkit-touch-callout: none) {
    min-height: -webkit-fill-available;
    /* height: 100dvh; */
    margin: 0;
  }

  overflow-x: hidden;
  background-color: var(--background-color);

  position: relative;
}

main {
  box-sizing: border-box;
}